/*
    Comentário
    O seletor . refere-se a uma classe
    O seletor # refere-se a um ID
    O seletor pela TAG refere-se a uma formatação para todas as tags
*/

.titulo_principal {
    /* Formata apenas um tipo de font */
    font: verdana;
    /* Permite colocar diversas opções de font */
    font-family: verdana, arial, "times new roman";
    /* Permite alterar o tamanho da fonte 
        (em, px, pt, rem, etc...)  */
    font-size: 1.3em;
    /* Permite trocar a cor da font
        (usar hexadecimal ou RGB) */
    color: #7104b0;
    /* Permite alinhar o texto na horizontal
       (left, center, right, justify ...) */
    text-align: center;
    /* Negrito */
    font-weight: bold;
    /* Permite colocar um linha na palavra
        overline - linha acima da palavra
        underline - linha abaixo da palavra (sublinhado)
        line-through - linha sobreposta na palavra
        none - retira qualquer linha na palavra
    */
    text-decoration: underline;
    /* Formata em itálico (obliquo) e 
      retira a formatação com a opção normal*/
    font-style: normal;

    /* Permite padronizar MAIUSCULO E minusculo 
        UPPERCASE
        lowercase
        Capitalize
    */
    text-transform: uppercase;
    /* Espaçamento entre palavras */
    word-spacing: 10px;
    /* Espaçamento entre letras */
    letter-spacing: 10px;
    /* Permite criar sombreamento da escrita */
    text-shadow: 20px 10px 30px #06ebf3;
    /* Define uma largura */
    width: 500px;
    /* Define uma altura */
    height: 50px;
    /* Permite colocar uma borda no elemento 
        dotted
        dashed
        ridge
        double
        solid
    */
    /* border: ridge 3px #000000; */
    border-left: solid 3px #000000;
    border-bottom: double 2px #7104b0;
    border-right: dotted 2px #7104b0;
    border-top: double 5px #7104b0;
    /* Permite criar uma borda arredondada */
    border-radius: 50px 10px 20px 80px;

    /* Permite colocar cor de fundo */
    background-color: #0bba11;
    /* Centraliza um elemento */
    margin: auto;
}

.texto {
    font-family: verdana;
    font-size: 1.2em;
    /* Permite ajustar a distancia entre linhas do texto */
    line-height: 1.5;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    /* margin-top: 100px; */
}

.texto::first-letter {
    margin-left: 30px;
    font-weight: bold;
    color: #7104b0;
}

.texto::selection {
    background-color: #0bba11;
}